################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SHIPCOM/FileContentIndex/6cb6ec45-27cd-4a40-b4e1-baf80565d942.vsidx
/.vs/SHIPCOM/FileContentIndex/8b6b2322-c00f-42f1-8b5b-c926979fc3fb.vsidx
/.vs/SHIPCOM/FileContentIndex/9ddf0548-b1d0-4946-9af9-25864f31ace5.vsidx
/.vs/SHIPCOM/FileContentIndex/0bd4dfc7-0af4-4515-b6ab-e351a4d8a03b.vsidx
